/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* header */
header {background-color:darksalmon}

/* main content */
main {background-color:lightblue}

/* footer */
footer {background-color:rgb(37, 117, 90)}